<!-- Loop over each object in the projects array -->
{{#if posts.length}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
   <article class="post">
  <div class="post-head">  
    <div class="title">
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="meta">
        
      Posted By {{post.user.name}} on {{format_date post.date_created}} | 
      <p></p>
    </div>
  </div>
  <div class="post-text">
   <p>{{post.post_text}}</p> 
  </div>
</article>
  </li>
  {{/each}}
</ol>
{{/if}}