<div>
  <h2>{{title}}</h2>
  <p>{{post_text}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  
</div>

<div class="col-md-6">
  <h3>Create a New Comment:</h3>

  <form class="form new-comment-form" data-postid="{{id}}">
    <div class="form-group">
      <label for="comment-desc">Comment:</label>
      <textarea
        class="form-input"
        id="comment-desc"
        name="comment-desc"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<div class="col-md-6 post-list">
  <h3>Comments:</h3>

  {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment.comment_text}}</p>
        <p>From {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
    </div>
  {{/each}}
</div>


<script src="/js/comment.js"></script>


